@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: rgb(100, 99, 99);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 4px solid rgba(255, 68, 0, 0.795);
    
}
header>h1,nav{
    padding-top: 20px;
    padding-bottom: 40px;
}
nav,li{
    list-style-type: none;
}

ul,li,a{
    display: inline-block;
    color: white;
    padding: 5px;
   text-decoration: none;
}

ul,a:hover{
    color:  rgba(255, 68, 0, 0.795);
}
strong{
    color: rgba(255, 68, 0, 0.795);
}

#um{
    color: rgba(255, 68, 0, 0.795);
}
/*section*/
.foto{
    background: url(imagens/mão-tela-de-computador-em-um-fundo-preto-elementos-apresentou-nasa-65918294.jpg) no-repeat;
    background-size: cover;
    height: 400px;
    
}


section>h2,p{
   padding-top: 60px;
    text-align: center;
    
}
section.foto>h2{
    padding-top: 40px;
    color:antiquewhite;
    font-size: 4em;
}
section.foto>p{
    color:aliceblue;
}
/*formulario*/
.form{
    background-color: grey;
}
.form>h2{

    color: white;
}
#enviar{
   padding: 9px;
    width: 300px;
    background-color:rgba(255, 68, 0, 0.795) ;
}
/*conteiner*/
div{
    padding-bottom: 20px;
    padding-top: 20px;
}
.conteiner{
    
    align-items: center;
    justify-content: space-around;
}

div>h3{
    text-align: center;
}
div>p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.html{
    background: url(imagens/html.png) no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}
.css{
    background: url(imagens/CSS3_logo.svg.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

.design{
    background: url(imagens/computador.png) no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}
footer{
    color: white;
    background-color:rgba(255, 68, 0, 0.795) ;
}
@media screen and (max-width:550px) {
    header{
        display: flex;
        flex-flow: column;
    }

    header>h1,nav{
        padding-bottom: 0px;
        margin: 0 auto;
    }
    ul,li,a{
        display: block;
        
    }

}

@media screen and (min-width:800px){
    .conteiner{
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
}